[*]
end_of_line =lf
indent_style=tab
dotnet_style_predefined_type_for_locals_parameters_members=true:error
dotnet_style_predefined_type_for_member_access=true:warning
dotnet_diagnostic.CA1021.severity=silent
dotnet_diagnostic.CA1310.severity=suggestion
dotnet_style_allow_multiple_blank_lines_experimental=false:silent

[*.xml]
indent_style = space

[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace=true
dotnet_sort_system_directives_first=true
csharp_new_line_before_else=false
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_prefer_braces=false:suggestion
csharp_prefer_simple_default_expression=true:suggestion
csharp_new_line_before_open_brace=none
csharp_style_expression_bodied_accessors=true:silent
csharp_style_expression_bodied_constructors=true:silent
csharp_style_expression_bodied_methods=true:silent
csharp_style_expression_bodied_operators=true:silent
csharp_style_expression_bodied_indexers=true:silent
csharp_style_expression_bodied_properties=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_deconstructed_variable_declaration=true:suggestion

# IDE0056: Use index operator
csharp_style_prefer_index_operator =false:suggestion
csharp_style_namespace_declarations=block_scoped:warning
csharp_style_prefer_pattern_matching=true:suggestion
csharp_style_allow_blank_lines_between_consecutive_braces_experimental=false:silent
