[*]
end_of_line = crlf

[*.xml]
indent_style = space

[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace=true
dotnet_sort_system_directives_first=true
csharp_new_line_before_else=false
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_prefer_braces=false:silent
csharp_prefer_simple_default_expression=true:suggestion
csharp_new_line_before_open_brace=none
csharp_style_expression_bodied_accessors=true:silent
csharp_style_expression_bodied_constructors=true:silent
csharp_style_expression_bodied_methods=true:silent
csharp_style_expression_bodied_operators=true:silent
csharp_style_expression_bodied_indexers=true:silent
csharp_style_expression_bodied_properties=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_deconstructed_variable_declaration=true:suggestion

# IDE0056: Use index operator
csharp_style_prefer_index_operator = true:none
